/**
 * Site-wide color scheme
 */

// Text colors
@body-color:      #cdcccb;
@headline-color:  #272727;

// Blacks and whites
@black:           #272727;
@gray:            #505050;
@ltgray:          #cdcccb;
@white:           #f7f7f7;

// Brand colors
@cream:           #F7E1D4;
@orange:          #D07025;
@dorange:         #BD491A;

// Additional UI colors
@green:           #86B674;
@red:             #C0392B;

// Links
@link-color:      @orange;
@hlink-color:     darken(@link-color, 5%);
@vlink-color:     @link-color;

body{
  background-color:   @body-color;
}

h1{
  text-align: center;
}

label{
 font-weight: bold;
}

.lawyerform {
 // float: left;
 text-align: center;
}


.regform{
  text-align: center;
  margin-right: 17.5px;
}

#reginfo{
  max-width: 600px;
  text-align: center;
  margin-left: 325px;
}

.searchform {
  text-align: center;
  margin-top: 75px;
  font-size: 25px;
}

#locationsearch {
  font-size: 20px;
}

#choosecategory {
  font-size: 25px;
}

 .navbar ul {
     padding: 15px 15px 15px 15px;
     background: rgba(0,0,0,0);
     text-align: center;
  }
 .navbar li {
    display: inline-block;
    margin-left: 150px;
    // padding: 0px 60px 0px 60px;
    font-size: 25px;
  }

  .footer ul {
    padding: 15px 15px 15px 15px;
     background: rgba(0,0,0,0);
     // float: left;
  }

  .footer li {
    display: inline-block;
    margin-left: 175px;
    // padding: 0px 60px 0px 60px;
    font-size: 15px;
    margin-top: 50px;
     float: left;
  }

  .loginform {
    margin-top: 75px;
    text-align: center;
  }

  #homelogin {
    margin-right: 175px;
    font-weight: bold;
  }


  .ayo {
    text-align: center;
  }

  .sitedescription {
    text-align: center;
    max-width: 460px;
    margin-left: 400px;
    margin-top: 50px;
  }

  #logout-btn {
    font-size: 20px;
    text-decoration: purple;
  }
