 <ul class="navbar">
    <li><a href="http://localhost:9000/">Home</a></li>
    <li><a href="/lawyerreg">Lawyer Registration</a></li>
    <li><a href="http://localhost:9000/userReg">User Sign Up</a></li>
    <li><button id="logout-btn" type="submit">Logout</button></li>
  </ul>
