 <ul class="navbar">
    <li><a href="http://localhost:9000/">Home</a></li>
    <li><a href="Projects.html">About</a></li>
    <li><a href="http://localhost:9000/lawyerreg">Lawyer Registration</a></li>
    <li><a href="http://localhost:9000/userReg">User Sign Up</a></li>
  </ul>
