<!-- Main image with description -->
<!-- <div class="col-6"> -->
<div class="loginform">
<div>
  <div>
    <img src="">
  </div>
  <div>
    <p id="homelogin">Login:</p>
  </div>
</div>

<!-- </div> -->

<!-- Existing User log in -->
<div>
  <form method="post" action='/'>
<input type="text" name="username" placeholder="Username" />
  <br />
  <br />
  <input type="password" name="password" placeholder="Password" />
  <br />
  <br />
  <button type="submit">Sign In</button>  
  </form>
</div>

<div class="sitedescription">
  <p>Hey there! Welcome to LawyerUP. Our job is to connect you with lawyers in your area based on your specific legal needs. If you have an account with Lawyer Up login above. If you are new to the site click on the New User registration button if you are looking for legal help, and click on the New Lawyer Reg button if you are a Lawyer trying to get your name out there!</p>
</div>


</div>
<div class="ayo">
  <label>Sign Up As A User</label>
  <br />
  <form method="get" action="/userReg">
  <button type="submit">New User Reg</button>
  <br />
  <br />
  </form>
  </div>

<div class="ayo">
  <label>Create a Lawyer Profile</label>
  <br />
  <form method="get" action="/lawyerreg">
  <button type="submit">New Lawyer Reg</button>
  <br />
  <br />
  </form>
  </div>
  


<!-- <div class="userorlawyer">
  <button>New User Reg</button>
  <p>New To LawyerUP? <br />   Sign up As A User <br /> 
  Or Create A Lawyer Profile</p>
  <button>New Lawyer Reg</button>
</div>

 -->



