<!-- Main image with description -->
<div>
  <div>
    <img src="">
  </div>
  <div>
    <p>description will go here</p>
  </div>
</div>

<!-- Existing User log in -->
<div>
  <form method="post" action='/'>
<input type="text" name="username" placeholder="Username" />
  <br />
  <input type="password" name="password" placeholder="Password" />
  <br />
  <!-- <input type="hidden" name="id" value="{{_id}}"> -->
  
  <button type="submit" class="login">Log In</a></button>
  </form>
</div>

<!-- Buttons to register user and Lawyer -->
<div>
  <button></button>
  <button></button>
</div>

<h1>This is the homepage</h1>

