<!DOCTYPE html>
<html>
<head>
  <title>home</title>
   <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

<div class="container">
  


  <div class="row">
    <div class="col-12">
      <div class="loginform">
<div>
  <div>
    <p id="homelogin">Login:</p>
  </div>
</div>

<div>
  <form method="post">
<input type="text" name="username" placeholder="Username" />
  <br />
  <br />
  <input type="password" name="password" placeholder="Password" />
  <br />
  <br />
  <button>Sign In</button>
  </form>


</div>
    </div>
  </div>
</div>

<div class="sitedescription">
  <p>Hey there! Welcome to LawyerUP. Our job is to connect you with lawyers in your area based on your specific legal needs. If you have an account with Lawyer Up login above. If you are new to the site click on the New User registration button if you are looking for legal help, and click on the New Lawyer Reg button if you are a Lawyer trying to get your name out there!
  </p>
</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>





































<!-- Main image with description -->
<!-- <div class="col-6"> -->
<!-- <div class="loginform">
<div>
  <div>
    <p id="homelogin">Login:</p>
  </div>
</div>

<div>
  <form method="post">
<input type="text" name="username" placeholder="Username" />
  <br />
  <br />
  <input type="password" name="password" placeholder="Password" />
  <br />
  <br />
  <button>Sign In</button>
  </form>
 -->

<!-- </div>

<div class="sitedescription">
  <p>Hey there! Welcome to LawyerUP. Our job is to connect you with lawyers in your area based on your specific legal needs. If you have an account with Lawyer Up login above. If you are new to the site click on the New User registration button if you are looking for legal help, and click on the New Lawyer Reg button if you are a Lawyer trying to get your name out there!</p>
</div>



</div>

<div class="ayo">
  <label>Sign Up As A User</label>
  <button>New User Reg</button>
  <br />
  <br />
  <label>Create Lawyer Post</label>
  <button>New Lawyer Reg</button>
</div> -->

<!-- <div class="ayo">
  <label>Sign Up as User</label>
  <button>New User Reg</button>
  <br />
  <br />
  <label>Create a Lawyer Post</label>
  <button>New Lawyer Reg</button>
</div> -->


<!-- <div class="userorlawyer">
  <button>New User Reg</button>
  <p>New To LawyerUP? <br />   Sign up As A User <br /> 
  Or Create A Lawyer Profile</p>
  <button>New Lawyer Reg</button>
</div>

 -->



