<h1>Create your Lawyer Profile!</h1>
<div class="lawyerform">
<form method="post" action="/lawyerreg">
<div>
  <label>Company Name</label>
  <input type="text" name="companyName" placeholder="Company Name">
  <br />
  <br />
  </div>
  <div>
  <label>Primary Contact</label>
  <input type="text" name="primaryContact" placeholder="Primary Contact" />
  <br />
  <br />
  </div>
  <div>
  <label>Address</label>
  <input type="text" name="address1" placeholder="Address" />
  <br />
  <br />
  </div>
  <div>
  <label>Address 2</label>
  <input type="text" name="address2" placeholder="Address_2 Optional" />
  <br />
  <br />
  </div>
  <div>
  <label>City</label>
  <input type="text" name="city" placeholder="City">
  <br />
  <br />
  </div>
   <div>
  <label>State</label>
  <input type="text" name="state" placeholder="State" />
  <br />
  <br />
  </div>
  <div>
  <label>Zip Code</label>
  <input type="text" name="zip" placeholder="Zip Code" />
  <br />
  <br />
  </div>
  <div>
  <label>Phone</label>
  <input type="text" name="phone" placeholder="Phone">
  <br />
  <br />
  </div>
   <div>
  <label>Email</label>
  <input type="email" name="email" placeholder="Email" />
  <br />
  <br />
  </div>
   <div>
  <label>Summary</label>
  <input type="text" name="summary" placeholder="Tell us about your firm" />
  <br />
  <br />
  </div>
  <div>
  <label>Username</label>
  <input type="text" name="username" placeholder="choose a username">
  <br />
  <br />
  </div>
  <div>
  <label>Password</label>
  <input type="password" name="password" placeholder="password" />
  <br />
  <br />
  </div>

  <label>Price Range</label>
<select name="price_range">
    <option value="$">$</option>
    <option value="$$">$$</option>
    <option value="$$$">$$$</option>
    <option value="$$$$">$$$$</option>
</select>

<br />

<p>Pick Your Areas of Expertise:</p>

<br />

<label>Family Law:</label>
    <input class="catcheckbox" type="checkbox" value="true" name="divorce">Divorce</input>
    <input class="catcheckbox" type="checkbox" value="true" name="childSupport">Child Support</input>
    <input class="catcheckbox" type="checkbox" value="true" name="childCustody">Child Custody</input>


<br />
<br />

<label>Disability:</label>

    <input class="catcheckbox" type="checkbox" value="true" name="elderLaw">Elder Law</input>
    <input class="catcheckbox" type="checkbox" value="true" name="socialSecurity">Social Security</input>
    <input class="catcheckbox" type="checkbox" value="true" name="workersCompensation">Workers' Compensation</input>


<br />
<br />

<label>Immigration:</label>

    <input class="catcheckbox" type="checkbox" value="true" name="citizenship">Citizenship</input>
    <input class="catcheckbox" type="checkbox" value="true" name="greenCards">Green Cards</input>
    <input class="catcheckbox" type="checkbox" value="true" name="deportation">Deportation</input>


<br />
<br />

<label>Bankruptcy:</label>

    <input class="catcheckbox" type="checkbox" value="true" name="bankruptcy">Bankruptcy Basics</input>
    <input class="catcheckbox" type="checkbox" value="true" name="foreclosure">Foreclosure</input>
    <input class="catcheckbox" type="checkbox" value="true" name="personalBankruptcy">Personal Bankruptcy</input>


<br />
<br />

<label>Home:</label>

    <input class="catcheckbox" type="checkbox" value="true" name="landlord">Landlord</input>
    <input class="catcheckbox" type="checkbox" value="true" name="realEstate">Real Estate</input>
    <input class="catcheckbox" type="checkbox" value="true" name="neighborsPets">Neighbors/Pets</input>


<br />
<br />

<label>Personal Injury:</label>

    <input class="catcheckbox" type="checkbox" value="true" name="carAccidents">Car Accidents</input>
    <input class="catcheckbox" type="checkbox" value="true" name="medicalMalpractice">Medical Malpractice</input>
    <input class="catcheckbox" type="checkbox" value="true" name="slipOrFall">Slip or Fall</input>

<br />
<br />

<label>Criminal:</label>

    <input class="catcheckbox" type="checkbox" value="true" name="duiDwi">DUI/DWI</input>
    <input class="catcheckbox" type="checkbox" value="true" name="drugCrimes">Drug Crimes</input>
    <input class="catcheckbox" type="checkbox" value="true" name="sealing">Sealing</input>

<br />
<br />

<label>Employment:</label>

    <input class="catcheckbox" type="checkbox" value="true" name="wrongfulTermination">Wrongful Termination</input>
    <input class="catcheckbox" type="checkbox" value="true" name="employeeBenefits">Employee Benefits</input>
    <input class="catcheckbox" type="checkbox" value="true" name="wageAndLaws">Wage and Hours Laws</input>

<br />
<br />

<label>Taxes:</label>

    <input class="catcheckbox" type="checkbox" value="true" name="businessTaxes">Business Taxes</input>
    <input class="catcheckbox" type="checkbox" value="true" name="personalIncomeTax">Personal Income Tax</input>
    <input class="catcheckbox" type="checkbox" value="true" name="audits">Audits</input>

<br />
<br />

  <!-- Insert dropdown combo box for AOE and price range -->
  <button>Register</button>
</form>
</div>
