<h1>Register for Lawyer Up!</h1>
<form method="post" action="/">
  <label>Company Name</label>
  <input type="text" name="companyName" placeholder="Company Name">
  <br />
  <label>Primary Contact</label>
  <input type="text" name="primaryContact" placeholder="Primary Contact" />
  <br />
  <label>Adress</label>
  <input type="text" name="adress_1" placeholder="Adress" />
  <br />
  <label>Adress 2</label>
  <input type="text" name="adress_2" placeholder="Adress_2 Optional" />
  <br />
  <label>City</label>
  <input type="text" name="city" placeholder="City">
  <br />
  <label>State</label>
  <input type="text" name="state" placeholder="State" />
  <br />
  <label>Adress 2</label>
  <input type="text" name="adress_2" placeholder="Adress_2 Optional" />
  <br />
  <label>City</label>
  <input type="text" name="city" placeholder="City">
  <br />
  <label>State</label>
  <input type="text" name="state" placeholder="State" />
  <br />
  <button>Register</button>
</form>
