<h1>Create your Lawyer Profile!</h1>
<form method="post" action="/lawyerreg">
  <label>Company Name</label>
  <input type="text" name="companyName" placeholder="Company Name">
  <br />
  <label>Primary Contact</label>
  <input type="text" name="primaryContact" placeholder="Primary Contact" />
  <br />
  <label>Adress</label>
  <input type="text" name="address1" placeholder="Adress" />
  <br />
  <label>Adress 2</label>
  <input type="text" name="address2" placeholder="Adress_2 Optional" />
  <br />
  <label>City</label>
  <input type="text" name="city" placeholder="City">
  <br />
  <label>State</label>
  <input type="text" name="state" placeholder="State" />
  <br />
  <label>Zip Code</label>
  <input type="text" name="zip" placeholder="Zip Code" />
  <br />
  <label>Phone</label>
  <input type="text" name="phone" placeholder="Phone">
  <br />
  <label>Email</label>
  <input type="email" name="email" placeholder="Email" />
  <br />
  <label>Summary</label>
  <input type="text" name="summary" placeholder="Tell us about your firm" />
  <br />
  <label>Username</label>
  <input type="text" name="username" placeholder="choose a username">
  <br />
  <label>Password</label>
  <input type="password" name="password" placeholder="password" />
  <br />
  <!-- Insert dropdown combo box for AOE and price range -->
  <button>Register</button>
</form>
