<h1>Search A Lawyer</h1>
<div class="searchform">
<form method="post" action ="/search">
  <label>Where do you need a lawyer?</label>
    <input id="locationsearch" type="text" name="city">
    <label>What type of lawyer do you need?</label>
      <select id="choosecategory">
    <option  name="divorce" value="divorce">Divorce</option>
    <option  name="childSupport" value="childSupport">Child Support</option>
    <option  name="childCustody" value="childCustody">Child Custody</option>
    <option   value="true" name="elderLaw">Elder Law</option>
    <option   value="true" name="socialSecurity">Social Security</option>
    <option   value="true" name="workersCompensation">Workers' Compensation</option>
    <option  value="true" name="citizenship">Citizenship</option>
    <option   value="true" name="greenCards">Green Cards</option>
    <option   value="true" name="deportation">Deportation</option>
    <option   value="true" name="bankruptcy">Bankruptcy Basics</option>
    <option   value="true" name="foreclosure">Foreclosure</option>
    <option   value="true" name="personalBankruptcy">Personal Bankruptcy</option>
    <option   value="true" name="landlord">Landlord</option>
    <option   value="true" name="realEstate">Real Estate</option>
    <option   value="true" name="neighborsPets">Neighbors/Pets</option>
    <option   value="true" name="carAccidents">Car Accidents</option>
    <option   value="true" name="medicalMalpractice">Medical Malpractice</option>
    <option   value="true" name="slipOrFall">Slip or Fall</option>
    <option   value="true" name="duiDwi">DUI/DWI</option>
    <option   value="true" name="drugCrimes">Drug Crimes</option>
    <option   value="true" name="sealing">Sealing</option>
    <option   value="true" name="wrongfulTermination">Wrongful Termination</option>
    <option   value="true" name="employeeBenefits">Employee Benefits</option>
    <option   value="true" name="wageAndLaws">Wage and Hours Laws</option>
    <option   value="true" name="businessTaxes">Business Taxes</option>
    <option   value="true" name="personalIncomeTax">Personal Income Tax</option>
    <option   value="true" name="audits">Audits</option>


      </select>
  <button>Search</button>    

</form>
</div>
