<h1>Search A Lawyer</h1>
<div class="searchform">
<form method="post" action ="/search">
  <label>Where do you need a lawyer?</label>
    <input id="locationsearch" type="text" name="city">
    <label>What type of lawyer do you need?</label>
      <select id="choosecategory">
        <option name="divorce" value="divorce">Divorce</option>
        <option  name="childSupport" value="childSupport">Child Support</option>
        <option  name="childCustody" value="childCustody">Child Custody</option>
      </select>
  <button>Search</button>    

</form>
</div>
