<h1>THIS IS THE SEARCH PAGEEEE</h1>

<form method="post" action ="/search">
  <label>where do you need a lawyer?</label>
    <input type="text" name="location">
    <label>what type of lawyer do you need?</label>
      <select id="choose_category">
        <option value="divorce">Divorce</option>
        <option value="childsupport">Child Support</option>
        <option value="childcustody">Child Custody</option>
      </select>

</form>
