<h1>Register for Lawyer Up!</h1>
<div class="regform">
<form method="post" action="/userreg">
  <input type="text" name="name" placeholder="Name">
  <br />
  <input type="text" name="phone" placeholder="Phone Number">
  <br />
  <input type="text" name="email" placeholder="Email" />
  <br />
  <input type="text" name="username" placeholder="Username" />
  <br />
  <input type="password" name="password" placeholder="Password" />
  <br />
  <br />
  <!-- <input type="password" name="password" placeholder="Confirm Password" />
  <br /> -->
  <button id="usrSumbit" type="submit">Register</button>
</form>
</div>

<div id="reginfo">
  <p>By Registering for LawyerUP you will now have access to our database and have the ability to search based on location and area of expertise in regards to your legal needs. </p>
</div>
